node_modules
# Keep environment variables out of version control
.env

/generated/prisma

check-all-timezones.js
check-dates.js
check-recurring-shifts.js
debug-api.js
fix-inventory.js
fix-timezone.js
check-timezone-handling.js
